<!DOCTYPE html>
<html>
  <head>
    <title>Chart the Stock Market</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
    <link href="./components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body ng-app="stockMarket" class='ng-cloak' ng-controller='MainCtrl'>
    
    <div class='chart'><h1>Hello, World</h1></div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="./components/angular/angular.min.js"></script>
    <script src="./components/angular-route/angular-route.min.js"></script>
    <script src="./components/angular-resource/angular-resource.min.js"></script>
    <script src="./javascripts/angularApp.js"></script>  
  </body>
</html>